.footer_box {
    background-color: #557085;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    justify-self: center;
    width: 100%;
}

.footer_box div {
    margin-bottom: 20px;
}

.footer_box h3 {
    margin-top: 90px;
    font-size: 25px;
    font-stretch: ultra-expanded;
    color: white;
    margin-bottom: 10px;
    font-family: 'Agdasima', sans-serif;
}

.footer_box ul {
    margin-top: 25px;
    list-style-type: disc;
    padding: 0;
}

.footer_box ul li {
    margin: 5px 0;
    font-size: 15px;
    color: white;
    font-family: 'Agdasima', sans-serif;
    font-weight: lighter;
    line-height: 4;
}

.copyright {
    width: 100%;
    text-align: left;
    padding-left: 100px;
    font-size: 17px;
    padding-top: 10px;
    margin-top: 60px;
    font-family: 'Agdasima', sans-serif;
    font-weight: lighter;
}

.copyright p {
    color: white;
}

@media (max-width: 1200px) {
    .footer_box {
        padding: 40px 0;
        flex-direction: column;
        align-items: center;
    }

    .footer_box div {
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .footer_box {
        padding: 30px 20px;
        flex-direction: column;
        align-items: center;
    }

    .footer_box h3,
    .footer_box ul li,
    .copyright {
        text-align: center;
    }

    .footer_box ul {
        padding: 0;
        text-align: center;
    }

    .footer_box ul li {
        margin: 5px 0;
        width: 100%;
    }

    .footer_box ul {
        list-style-type: none;
    }

    .copyright {
        padding-left: 0;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .footer_box {
        padding: 20px 10px;
    }

    .footer_box h3 {
        font-size: 16px;
    }

    .footer_box ul li {
        font-size: 14px;
    }

    .footer_box ul {
        list-style-type: none;
    }

    .copyright {
        font-size: 15px;
    }
}