@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

.local_box {
  background-color: #a6b4bf;
  margin-bottom: 150px;
  font-family: "Geologica", sans-serif;
  padding: 50px;
}
.local_container {
  flex-direction: row;
  width: 88%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 30px;
  align-items: center;
}
.img-map {
  display: inline-block;
  width: 100%;
  max-width: 722px;
  height: 355;
  background-color: yellow;

}

.right_box_local {
  align-items: left;
  justify-content: center;
  text-align: left;
  margin-bottom: 25px;
  padding: 0;
}

.right_box_local h1 {
  font-size: 35px;
  color: #304d64;
  font-family: "Geologica", sans-serif;
  margin-bottom: 46px;
}

.right_box_local p {
  color: #304d64;
  font-size: 16px;
  font-family: "Geologica", sans-serif;
}

.local_icon {
  width: 45px;
  height: 45px;
}

.pic_box {
  margin-top: 40px;
  width: fit-content;
  padding-bottom: 0;
}

.pic_box img {
  width: 123px;
  height: 100px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .local_box {
    justify-self: center;
    width: fit-content;
    width: 85%;
  }

  .local_container {
    width: 400px;
    justify-self: center;
    flex-direction: column;
  }

  .right_box_local h1 {
    font-size: 25px;
  }
  
  .img-map {
    height: 355;
    justify-self: center;
  }

  .pic_box {
    padding: 0 100px;
  }

  .pic_box img {
    width: 300px;
    height: 200px;
  }

  .right_box_local {
    text-align: center;
    padding: 0 40px;
  }
}
