@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.sobre_box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: fit-content;
  gap: 50px;
  margin-bottom: 70px;
  padding: 50px;
  align-items: center;
  justify-self: center;
}

.text_box {
  flex: 1;
  text-align: left;
  height: fit-content;
  padding: 0;
}

.text_box h2 {
  margin-top: -40px;
  font-size: 28px;
  color: #3a3a3a;
  font-family: "Inter", sans-serif;
}

.text_box h3 {
  font-size: 17px;
  font-family: "Geologica", sans-serif;
  color: #3a3a3a;
  margin-top: 60px;
}

.text_box p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  color: #525252;
  font-family: "Geologica", sans-serif;
}

.sobre_dono {
  margin-top: -20px;
  display: block;
}

.jornada {
  margin-top: -10px;
  display: block;
}

.contato_text {
  display: block;
  margin-top: 60px;
}

.img_box {
  flex-shrink: 0;
  width: 100%;
  max-width: fit-content;
}

.img_box .imgDono {
  width: 390px;
  height: 470px;
  object-fit: cover;
  padding-top: 70px;
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  margin-top: 20px;
}

.whats_botao {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: #6e6e6e;
  border: 1px solid #6e6e6e;
  padding: 7px 15px;
  border-radius: 50px;
  font-size: 17px;
  cursor: pointer;
  font-family: "Instrument Sans", sans-serif;
}

.whats_botao:hover {
  background-color: #00cf1550;
  border: 1px solid rgba(0, 0, 0, 0.671);
  color: rgba(0, 0, 0, 0.671);
}

.whatsIcon {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.email a {
  color: #6e6e6e;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  font-family: "Instrument Sans", sans-serif;
}

.email a:hover {
  color: #007bff88;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .sobre_box {
    width: 100%;
    gap: 20px;
  }

  .text_box {
    width: 100%;
    align-items: center;
  }

  .img_box {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .sobre_box {
    flex-direction: column;
    align-items: center;
  }

  .text_box {
    min-width: 100%;
    text-align: center;
  }

  .text_box h1,
  .text_box h2,
  .text_box h3 {
    text-align: center;
  }

  .img_box {
    max-width: 100%;
    margin: 20px 0;
  }

  .links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .whats_botao,
  .email a {
    font-size: 16px;
  }

  .whats_botao {
    padding: 10px 15px;
  }

  .whatsIcon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .sobre_box {
    padding: 15px;
  }

  .text_box {
    font-size: 14px;
  }

  .img_box {
    max-width: 100%;
  }

  .whats_botao {
    font-size: 15px;
    padding: 8px 12px;
  }

  .whatsIcon {
    width: 18px;
    height: 18px;
  }

  .email a {
    font-size: 15px;
  }
}
