@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.suporte_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  padding: 0 20px;
  width: fit-content;
  margin-bottom: 130px;
}

.suporte_box h2,
.suporte_box p {
  text-align: center;
  font-family: "Geologica", sans-serif;
}

.suporte_box h2 {
  color: #557085;
  font-weight: bold;
  font-size: 35px;
}

.suporte_box p {
  color: #525252;
  font-size: 18px;
  margin-top: -20px;
  font-weight: 300;
}

.suporte_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.suporte_form .nome_input,
.suporte_form .email_input,
.suporte_form .mensagem_input {
  margin-bottom: 15px;
}

.suporte_form label {
  text-align: left;
  display: block;
  font-family: "Geologica", sans-serif;
  margin-bottom: -10px;
}

.suporte_form input,
.suporte_form textarea {
  width: 472px;
  padding: 10px;
  border: 1px solid #557085;
  background-color: #f7f7f7;
}

.suporte_form input {
  height: 25px;
}

.suporte_form textarea {
  height: 60px;
}

.enviar_botao {
  padding: 10px 40px;
  background-color: #40749c;
  color: #fff;
  font-family: "Geologica", sans-serif;
  border: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  align-self: center;
  justify-self: center;
}

.enviar_botao:hover {
  background-color: #b8c5ff;
  color: #525252;
}

@media (max-width: 768px) {

  .suporte_form input,
  .suporte_form textarea {
    width: 400px;
  }

  .suporte_box h2 {
    font-size: 25px;
  }
}