@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.logotipo h1 {
  font-size: 24px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  font-family: "Geologica", sans-serif;
}

.gray {
  color: #b1b1b1;
}

.blue {
  color: #c1cfe1;
}

@media (max-width: 768px) {
  .logotipo h1 {
    text-align: center;
  }
}
